/* 
    Document   : blackwhite
    Created on : Feb 3, 2014, 7:45:33 PM
    Author     : Bradly Schlenker
    Description:
        Gives an overarching theme in a black and white theme where black is the
        main background color and white is the main foreground color.
*/

#search {
    background-color: black;
    color: white;
}

#result {
    background-color: black;
    color: white;
}

#customer {
    background-color: white;
    color: black;
    width: 133px;
    height: 110px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px;
    display: inline-block;
    
}

#customer:hover {
    background-color: aqua;
    
}

#name {
    color: black;
}

#visits {
    color: red;
}